.inputs {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.step{
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 5px solid black;
  border-radius: 4px;
  text-align: center;
}
.data {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* center */
}
.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
  margin: 10px;
}


/* idk what this is */
/* .firstcolumn {
  float: left;
  width: 50%;
  padding: 5px;
  padding-top: 100px;
}
.column2 {
  float: left;
  width: 100%;
  right:50%;
  padding: 5px;
  padding-left: 29%;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
 */
